<div class="row">
    <div class="col text-right">
        <button class="btn btn-primary" routerLink="/nuevo">
        <i class="fa fa-plus"></i>
        Agregar Empleado
      </button>

    </div>
</div>
<div class="container">
    <h4>Lista de empleados</h4>

    <table class="table mt-3 animated fadeIn faster animated fadeIn faster">
        <thead class="thead-dark">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Nombre</th>
                <th scope="col">Apellido</th>
                <th scope="col">Correo</th>
                <th scope="col">Cedula</th>
                <th scope="col">Inss</th>
                <th scope="col">Fecha de nacimiento</th>
                <th scope="col">Herramientas</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let empleado of empleados; let i = index">
                <td>{{ empleado.id }}</td>
                <td>{{ empleado.nombre }}</td>
                <td>{{ empleado.apellido }}</td>
                <td>{{ empleado.correo }}</td>
                <td>{{ empleado.cedula }}</td>
                <td>{{ empleado.inss }}</td>
                <td>{{fecha(empleado) | date: 'MMMM d, y'}}</td>
                <td>
                    <button class="btn btn-info mr-1" [routerLink]="['/', empleado.id , 'editar' ]" (click)="enviarcedula(empleado.cedula)">
                    <i class="fa fa-pen"></i>
                  </button>

                    <button class="btn btn-danger" (click)=" BorrarEmpleado(empleado,empleado.id) ">
              <i class="fa fa-trash"></i>
              </button>


                </td>
            </tr>

        </tbody>
    </table>